<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../js/app.js" defer></script>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/main.css"">
    <title>Home</title>
  </head>

  <body>
    <div id="container">
      <header id="header">
        <nav id="nav">
          <h1 id="logo">RentMeNow</h1>
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./gallery.html">Gallery</a></li>
            <li><a href="./reservation.html">Reservation</a></li>
            <li><a href="./contact.html">Contact</a></li>
          </ul>
        </nav>
        <form method="get" class="contact-form">
          <div class="data-input">
            <label>Name</label
            ><input
              type="text"
              name="name"
              id="name"
              placeholder="Your name here"
            />
          </div>
          <div class="data-input">
            <label>Email</label
            ><input
              type="text"
              name="email"
              id="email"
              placeholder="Your email here"
            />
          </div>
          <div class="data-input">
            <label>Subject</label
            ><input
              type="text"
              name="subject"
              id="subject"
              placeholder="Subject here"
            />
          </div>
          <div class="data-input">
            <label>Message</label
            ><textarea
              name="msg"
              id="msg"
              cols="25"
              rows="4"
              placeholder="Your message here"
            ></textarea>
          </div>
          <input type="submit" value="Submit" />
        </form>
      </header>

      <main id="main"></main>
      <footer class="footer">
        <div class="socials-footer">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <p style="text-align: center">&copy;2021 DACHOUCHA Abderrahmane</p>
      </footer>
    </div>
  </body>
</html>
